* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(255, 255, 255); /* Fond blanc */
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


header {
    background: linear-gradient(to right,#ccc, rgb(155, 145, 145)); /* Dégradé de gris du foncé au clair pour le header */
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
h1  {
    color: white;
    position: fixed;
    right: 90px;
    top: 60px;
    font-size: 300%;
}


nav {
    background-color: #dfdcdc; /* Navbar en fond gris clair */
    height: 50px;
    max-width: 960px; /* La navbar ne prend pas toute la largeur de la page */
    margin: 0 auto; /* Centrage horizontal de la navbar */
    position: fixed;
    top: 150px; /* la navbar commence après le header */
    left: 0;
    right: 0;
    z-index: 1;
} 
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
} 
.nav-links li {
    padding: 10px;
}
.nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.pink {
    color: violet;
}
.dark-grey {
    color: rgb(129, 129, 129);
}
#body{
    padding-left : 30%;
    padding-top: 20%;
}
#answer{
    color : red;
}
tr.inscription{
    visibility: hidden;
}