* { /* Initialisation de la page */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { /* Initialisation du body */
    background-color: rgb(255, 255, 255); /* Fond blanc */
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Police de la page */
}


header {
    background: linear-gradient(to right,#ccc, rgb(155, 145, 145)); /* Dégradé de gris du foncé au clair pour le header */
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* z-order de la bannière */
}
h1  {
    color: white;
    position: fixed;
    right: 90px;
    top: 60px;
    font-size: 300%;
}


nav {
    background-color: #dfdcdc; /* Navbar en fond gris clair */
    height: 50px;
    max-width: 960px; /* La navbar ne prend pas toute la largeur de la page */
    margin: 0 auto; /* Centrage horizontal de la navbar */
    position: fixed;
    top: 150px; /* la navbar commence après le header */
    left: 0;
    right: 0;
    z-index: 1; /* z-order de la navbar */
} 
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
} 
.nav-links li {
    padding: 10px;
}
.nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.color1 {
    color: rgb(129, 129, 129); /* Couleur du 1er onglets de la navbar */
}
.color2 {
    color: violet; /* Couleur du 2eme onglets de la navbar */
}


.articles {
    display:flex;
    flex-direction: row;
    justify-content: space-around;  
    top: 490px;
    height: auto;
    width:auto;
    margin: 250px auto 50px;
    padding: 0 20px;
}
.article1 {
    height:max-content;
    width: 40%;
}
.article2 {
    height:max-content;
    width: 40%;    
}
.titre {
    color: gray;
    font-size: xx-large;
}


.ressource {
    text-align: center;
    color: gray;
    font-size: xx-large;
}


.carres {
    display:flex;
    flex-direction: row;
    justify-content: space-around;  
    height: 90px;
    width:auto;
    margin: 70px auto 50px;
    padding: 0 20px;
    flex-wrap: wrap;
}
.carre1 {
    border-style: solid;
    border-color: violet;
    height:75%;
    width: 20%;
    background-color:rgb(238, 180, 238);
    overflow-inline: auto;
    overflow-wrap: break-word; 
}
.carre2 {
    border-style: solid;
    border-color: green;
    height:75%;
    width: 20%;
    background-color:rgb(149, 245, 149);
    overflow-inline: auto;
    overflow-wrap: break-word;     
}
.carre3 {
    border-style: solid;
    border-color: lightblue;
    height:75%;
    width: 20%;
    background-color:rgb(159, 211, 245);
    overflow-inline: auto;
    overflow-wrap: break-word;  
}
.titre1 {
    background: linear-gradient(to right,#b90db9, rgb(228, 117, 209));
}
.titre2 {
    background: linear-gradient(to right,green, rgb(97, 228, 147));
}
.titre3 {
    background: linear-gradient(to right,lightblue, rgb(102, 182, 235));
}