* { /* Initialisation de la page */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { /* Initialisation du body */
    background-color: rgb(255, 255, 255); /* Fond blanc */
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*Police de la page */
}


header {
    background: linear-gradient(to right,#ccc, rgb(155, 145, 145)); /* Dégradé de gris du foncé au clair pour le header */
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* z-order de la bannière */
}
h1  {
    color: white;
    position: fixed;
    right: 90px;
    top: 60px;
    font-size: 300%;
}


nav {
    background-color: #dfdcdc; /* Navbar en fond gris clair */
    height: 50px;
    max-width: 960px; /* La navbar ne prend pas toute la largeur de la page */
    margin: 0 auto; /* Centrage horizontal de la navbar */
    position: fixed;
    top: 150px; /* la navbar commence après le header */
    left: 0;
    right: 0;
    z-index: 1; /* z-order de la navbar */
} 
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
} 
.nav-links li {
    padding: 10px;
}
.nav-links a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.color1 {
    color: rgb(129, 129, 129); /* Couleur du 1er onglets de la navbar */
}
.color2 {
    color: violet; /* Couleur du 2eme onglets de la navbar */
}

.info {
    display:flex;
    flex-direction: row;
    justify-content: space-around;  
    top: 490px;
    height: auto;
    width:auto;
    margin: 250px auto 50px;
}

.prfl{
    border-style: solid;
    border-color: violet;
    background: linear-gradient(to right,#e769e7, rgb(255, 255, 255));
    border-collapse: collapse;
    width: 500px;
    height: 85%;
    overflow-inline: auto;
    overflow-wrap: break-word;
}

td {
    padding: 15px;
}

.nbref{
    border-style: solid;
    border-color: violet;
    background: linear-gradient(to right,#e769e7, rgb(255, 255, 255));
    border-collapse: collapse;
    overflow-inline: auto;
    overflow-wrap: break-word;
    padding: 30px;
}